.tile {
  float: left;
  width: 100px;
  height: 100px;
  visibility: visible;
  display: inline-block;
  color: red;
  font-size: 80px;
  line-height: 80px;
  margin: 5px;
  text-align: center;
  font-family: wingdings
}

.number {
  display: none;
}

.block {
float: left;
}
