.tile {
  float: left;
  background: black;
  width: 100px;
  height: 100px;
  border-style: solid;
  border-width: 2px;
  border-color: red;
  margin: 5px;
  color: red;
  font-size: 75px;
  text-align: center;
  line-height: 100px;
  visibility: visible;
}

.tile_break {
  clear: both;
}

.number {
  display: none;
}
